{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Rate The Professor</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!--link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet"-->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

	<!-- CSS is written here for convenience; will move to a separate .css file when complete -->
	<style type="text/css">
	.navbar {
		background: url({% static 'img/banner.jpg' %});
	}
    .label-default {
        font-size: x-large;
        background-color: transparent;
        color: black;
    }
    .navbar-brand {
        height: 200px;
    }
    .btn-default {
    	background-color: transparent;
	}
	.profpic img {
		width: 200px;
	}
	footer {
		margin-top: 50px;
	}
	div #login_result {
		color: #FF4040;
	}
	.comment-pic {
		width: 100px;
	}
	.rating-block {
		width: 80px;
	}
	.prof-rating-form input {
		display: none;
	}
	#id_comment {
		display: block;
	}
	.prof-rating {
		width: 120px;
	}
	.prof-rating-type-small {
		width: 110px;
		font-size: 12px;
	}
	.prof-rating-recent {
		margin-top: 10px;
		border-top: 1px solid #DDDDDD;
	}
	.prof-rating-recent > td {
		padding: 5px;
	}
	.date {
		color: #AAAAAA;
		font-size: 9pt;
	}
	.small-rating-width {
		width: 100px;
		text-align: center;
	}
	.small-rating {
		width: 80px;
	}
	.big-text {
		font-size: 14pt;
	}
	.centered-text {
		text-align: center;
	}
	</style>
</head>

<body>
	<div class="container">

		<!-- NAVIGATION BAR -->
		<div class="navbar navbar-default">
			<div class="container">
				<!-- RATE THE PROFESSOR LOGO -->
				<div class="navbar-header">
					<a href="/rate_the_professor/"><img src="{% static 'img/logo.png' %}" class="navbar-brand"></a>
				</div>

				<!-- TOP RIGHT LOGIN/LOGOUT AREA -->
					{% if user.is_authenticated %}
		                <div class="navbar-right">
		                    <form action="/rate_the_professor/user/">
							    <button class="btn btn-default">Welcome back, {{ user.username }}</button>
							</form>

							<form action="/rate_the_professor/logout/">
							    <button type="submit" value="Logout" class="btn btn-default">Logout</button>
							</form>
						</div>
					{% else %}

		            <div class="navbar-form navbar-right">
						<!-- USERNAME/PASSWORD INPUT FIELDS -->
						<form class="" id="login_form" method="post" action="/rate_the_professor/login/">
                            {% csrf_token %}
                            <input type="text" class="form-control " id = "id_username" name = "username" placeholder="Username">
                            <input type = "password" class="form-control " id = "id_password" name = "password" placeholder="Password" />
                            <button type="submit" class="btn btn-default">Sign in</button>

                            <div id="login_result"></div>
						</form>

		                <!-- REGISTER BUTTON -->
						<div class="pull-right">
	                        <form action="/rate_the_professor/register/">
								<button type="submit" class="btn btn-default" background="clear">Register</button>
							</form>
						</div>
		            </div>

					{% endif %}
			</div>
		</div>

		<!-- CONTENT OF PAGE -->
        {% block body_block %}{% endblock %}

	</div>

	<footer>
		<div class="container">
			<p>&copy; iTech4Leif 2014</p>
		</div>
	</footer>

	<!-- JAVASCRIPT -->
	<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	<script type="text/javascript">
		// -------- LOGIN AJAX ---------------//
	    var frm = $('#login_form');
	    frm.submit(function () {
	        $.ajax({
	            type: "POST",
	            url: "/rate_the_professor/login/",
	            data: frm.serialize(),
	            success: function (data) {
	                window.location = data;
	            },
	            error: function(data) {
	                $('#login_result').html("Invalid login details supplied.");
	            }
	        });
	        return false;
	    });

	    // ------------ DYNAMIC PROFESSOR SEARCH FORM -------------------- //
	    var data1
	    $('#query').keyup(function(){
	        var query;
	        query = $('#query').val();
	        if (query !== "") {
	        $.get('/rate_the_professor/suggest_professor/', {suggestion: query, max_results: 4}, function(data){
		    if (data !== data1)
		    	$('#suggested_professors').hide('fast');
			$('#suggested_professors').html(data);
		    $('#suggested_professors').show('fast');
		    data1 = data; 
		    
	        });
	        } else {
			    $('#suggested_professors').hide('fast');
	            $('#suggested_professors').html("");
	        }
	    });

	    // ---------------- search form stuff -----------------//
	    $("#search_form").submit(function(event) {
			event.preventDefault();
			var $form = $( this ),
			url = $form.attr( 'action' );
			var posting = $.get( url, { suggestion: $('#query').val(), max_results: 0 } );
			posting.done(function( data ) {
				if (data !== "") {
					$('#ratings-main').html(data);
					$('#query').val("");
					$('#suggested_professors').hide('fast');
					$('#suggested_professors').html("");
				}
			});
	    });

	    // -------------- CHANGE RECENT COMMENT RATINGS TO STARS ------------ //
		var MAX_RATING = 5;
		var SMALL_RATING = 0;
		var BIG_RATING = 1;

		function ratingToStars() {
			processRatingToStars($('.small-rating'), SMALL_RATING);
			processRatingToStars($('.big-rating'), BIG_RATING);
		}

		function processRatingToStars(elem, RATING_TYPE) {
			elem.each(function(i){
				var rating = Math.round($(this).html() * 2);
				var html = "<div class='comment-rating-block'>";
				
				var fullStars = Math.floor(rating / 2);
				var halfStars = rating % 2;

				for (var i = 0; i < fullStars; i++)
				{
					if (RATING_TYPE == SMALL_RATING)
						html += "<img src='{% static 'img/star_y_small.png' %}'>";
					else 
						html += "<img src='{% static 'img/star_y.png' %}'>";
				}
				for (var i = 0; i < halfStars; i++)
				{
					if (RATING_TYPE == SMALL_RATING)
						html += "<img src='{% static 'img/star_h_small.png' %}'>";
					else 
						html += "<img src='{% static 'img/star_h.png' %}'>";
				}
				for (var i = 0; i < (MAX_RATING - fullStars - halfStars); i++)
				{
					if (RATING_TYPE == SMALL_RATING)
						html += "<img src='{% static 'img/star_g_small.png' %}'>";
					else 
						html += "<img src='{% static 'img/star_g.png' %}'>";
				}

				html += "</div>"
				$(this).html(html);
			});
		}

		// ---------- DISPLAY DYNAMIC STARS ON PROFESSOR'S PAGE ----------- //
		var ratings;

		function initialiseProfessorRatingsForm() {			
			var ratingFormElems = $('.prof-rating-form').find("input");
			ratingFormElems.each(function(i){
				if (i < 6)
					$(this).after("<span class='rating-form' id='rating" + i + "'><input id='star1' type='radio' name='rating' value='1.0'><img class='stars' src={% static 'img/star_g.png' %}><input id='star2' type='radio' name='rating' value='2.0'><img class='stars' src={% static 'img/star_g.png' %}><input id='star3' type='radio' name='rating' value='3.0'><img class='stars' src={% static 'img/star_g.png' %}><input id='star4' type='radio' name='rating' value='4.0'><img class='stars' src={% static 'img/star_g.png' %}><input id='star5' type='radio' name='rating' value='5.0'><img class='stars' src={% static 'img/star_g.png' %}>");
			});

			$(".stars").hover(
				function() {
					$(this).prevAll("img").prop("src", "{% static 'img/star_r.png' %}");
					$(this).prop("src", "{% static 'img/star_r.png' %}");
				}, function() {
					var ratingId = $(this).parent().attr("id");
					refreshRating(ratingId);
				}
			);
			
			$(".stars").click(function() {
				var ratingId = $(this).parent().attr("id");
				var ratingValue = $(this).prev().attr("value");
				var ratingIdNumber = ratingId.substr(6, ratingId.length - 6);
				
				ratings[ratingIdNumber] = ratingValue;
				$('#' + ratingId).prev().val(ratingValue);
				refreshRating(ratingId);
			})

			var ratingExists = true;
			var ratingIds = 0;
			
			while (ratingExists) {
				if ($('#rating' + ratingIds).length > 0)
					ratingIds++;
				else
					ratingExists = false;
			}
			
			ratings = new Array(ratingIds);
			
			for (var i = 0; i < ratings.length; i++)
				ratings[i] = 0;
		}
		
		function getSelectedRating(ratingId) {
			var ratingIdNumber = ratingId.substr(6, ratingId.length - 6);
			return ratings[ratingIdNumber];
		}

		function refreshRating(ratingId) {
			var starRating = getSelectedRating(ratingId);
			for (var i = 1; i <= MAX_RATING; i++) {
				if (i <= starRating)
					$("#" + ratingId).children("#star" + i).next().prop("src", "{% static 'img/star_y.png' %}");
				else
					$("#" + ratingId).children("#star" + i).next().prop("src", "{% static 'img/star_g.png' %}");
			}
		}


		$(document).ready(function() {
			ratingToStars();
			initialiseProfessorRatingsForm();
		});
    </script>
</body>
</html>
