{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Rate The Professor</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/rate-the-professor.css' %}" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
	<div class="container">

		<!-- NAVIGATION BAR -->
		<div class="navbar navbar-default">
			<div class="row">
				<!-- RATE THE PROFESSOR LOGO -->
				<div class="col-md-3">
					<div class="navbar-header">
						<a href="/rate_the_professor/"><img src="{% static 'img/logo.png' %}" class="navbar-brand"></a>
					</div>
				</div>

				<!-- TOP RIGHT LOGIN/LOGOUT AREA -->
				{% if user.is_authenticated %}
					<div class="col-md-3 col-md-offset-6">
						<div class="btn-group">
							<a href="/rate_the_professor/user/" class="btn btn-lg btn-link">
								<div class="thumbnail">
									{% if user_profile.picture %}
										<img class= "thumbnail" src="/media/user/{{ user_profile.picture }}">
									{% else %}
										<img class= "thumbnail" src="{% static 'img/profpic.png' %}">
									{% endif %}
								</div>
							</a>
							<a href="/rate_the_professor/user/" class="btn btn-lg btn-link">Welcome back, {{ user.username }}</a>
							<a href="/rate_the_professor/logout/" class="btn btn-lg btn-link">Logout</a>
						</div>
					</div>
				{% else %}
					<!-- USERNAME/PASSWORD INPUT FIELDS -->
					<div class="col-md-3 col-md-offset-6">
						<form class="navbar-form" id="login_form" method="post" action="/rate_the_professor/login/">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
								<input type="password" class="form-control" id="id_password" name="password" placeholder="Password" />
								<div class="list-group-horizontal">
									<button type="submit" for="login_form" class="btn btn-link">Sign in</button>
									<div id="login_result"></div>
								</div>
							</div>
						</form>

						<!-- REGISTER BUTTON -->
						<form action="/rate_the_professor/register/">
							<button type="submit" class="btn btn-link">Register</button>
						</form>
					</div>
				{% endif %}
			</div>
		</div>

		<!-- CONTENT OF PAGE -->
		<div id="b">
			{% block body_block %}{% endblock %}
		</div>

		<!-- FOOTER -->
		<footer>
			<p>&copy; iTech4Leif 2014</p>
		</footer>
	</div>

	<!-- JAVASCRIPT -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'js/rate-the-professor.js' %}"></script>
</body>
</html>
