{% extends 'rate_the_professor/base.html' %}
{% load static %}

{% block body_block %}
<div class="row">

	<div class="col-md-8">
		<!-- MOST RECENT RATINGS -->
		<div class="well" id="ratings-main">
			<h3>Recent Ratings</h3>
			{% if recent_ratings %}
				{% for rating in recent_ratings %}
					<hr>
					<div class="row">
						<!-- Images are resized according to css attributes -->
						<div class="col-md-3">
			               <!-- <img class="comment-pic" src="{% static 'img/profpic.png' %}"> -->
		                    <a href="/rate_the_professor/professor/{{ rating.professor.id }}/">
		                    <img class="comment-pic" src="/media/professors/{{ rating.professor.picture }}">
		                    </a>
							<div><strong class="big-text">{{ rating.professor.full_name }}</strong></div>
							<div>{{ rating.professor.university.uni_name }}</div>
							<div><span class="date">{{ rating.datetime }}</span></div>
						</div>

						<div class="col-md-6">{{ rating.comment }}</div>
						
						<div class="col-md-3">
							<h2 class="number-rating">{{ rating.rating }}</h2>
							<span class="big-rating" title="{{ rating.rating }} stars">{{ rating.rating }}</span>
						</div>
					</div>
				{% endfor %}
			{% else %}
			<strong>There are no ratings present.</strong>
			{% endif %}
		</div>
	</div>

	<div class="col-md-4">
	    <!-- Search is AJAXed, suggested_professors div displays X number of results when typing,
	    the clicking of the button all  -->

		    <div class="well-sm">
				<form class="form-inline" role="form" id="search_form" method="post" action="/rate_the_professor/suggest_professor/">
			        {% csrf_token %}
		            <input type="text" class="form-control" name="query" value="" id="query" placeholder="Search for a Professor"/>
		            <button type="submit" class="btn btn-primary" name="submit" value="Search">Search</button>
				</form>

		        <!-- AJAX call updates this div  -->
		        <div id="suggested_professors"></div>
		    </div>

		<!-- TOP 5 LECTURERS -->
		<div class="well">
            {% include "rate_the_professor/top_rating.html" with professors=top_professors title="Best Professors"%}
		</div>

        <div class="well">
            <a href="/rate_the_professor/ranking/" class="btn btn-primary">Ranking</a>
		</div>


	</div>
</div>
{% endblock %}
