{% extends 'rate_the_professor/base.html' %}
{% load static %}

{% block body_block %}
    {% if professor %}

<style type="text/css">

 .well-sm {width:70%;
    float:right;}

 .panel-default{float:left;
    size:25%;}




    </style>
    <!-- PROFESSOR DETAILS -->

<div class="panel panel-default">
    <div class="panel-heading"><h3>{{ professor.first_name }} {{ professor.last_name }}</h3></div>
    <div class="panel-body" >
        <table>
            <tr><td>
                <div class="profpic">
                <img src="/media/professors/{{ professor.picture }}" width="200px">
                </div>
            </td></tr>

            <tr><td> <br> </td></tr>
            <tr><td>  <br></td></tr>

            <tr><td><strong>{{ professor.university }}</strong></td></tr>

            <tr><td>Rating: {{ professor.overall_rating }}</td></tr>
            <tr><td class="big-rating">{{ professor.overall_rating }}</td></tr>
            {% if courses_taught %}
            <tr><td>&nbsp;</td></tr>
            <tr><td>Courses taught:</td></tr>
            {% for course in courses_taught %}
            <tr><td>{{ course }}</td></tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>


        <!-- PROFESSOR RATINGS DETAILS -->
        <div class="well well-sm" width=80%>
            <h4>Professor Ratings!</h4>
            <table>
                <tr><td class="prof-rating">Communication: </td><td class="big-rating">{{ professor.overall_communication }}</td></tr>
                <tr><td class="prof-rating">Knowledge: </td><td class="big-rating">{{ professor.overall_knowledge }}</td></tr>
                <tr><td class="prof-rating">Approachability: </td><td class="big-rating">{{ professor.overall_approachability }}</td></tr>
                <tr><td class="prof-rating">Enthusiasm: </td><td class="big-rating">{{ professor.overall_enthusiasm }}</td></tr>
                <tr><td class="prof-rating">Clarity: </td><td class="big-rating">{{ professor.overall_clarity }}</td></tr>
                <tr><td class="prof-rating">Awesomeness: </td><td class="big-rating">{{ professor.overall_awesomeness }}</td></tr>
            </table>
        </div>

        <div class="well well-sm">
            <!-- FURTHER COMMENTS -->
            {% if user.is_authenticated %}
                 <strong>Submit Your Rating!</strong>
                 <form id="rating_form" method="post" action="/rate_the_professor/professor/{{ professor.id }}/">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="prof-rating-form">
                        <table>
                        {% for field in form.visible_fields %}
                        <tr>
                            <td class="prof-rating">{{ field.help_text}}</td>
                            <td>{{ field }} </td>
                            <td>{{ field.errors }}</td>
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <input type="submit" name="submit" value="Create Rating" />
                </form>
            {% else %}
                 <strong>Log In to leave comments</strong>
            {% endif %}
        </div>
        
        <!-- RECENT RATINGS -->
        <div class="well well-sm">
            <h4>Recent Ratings</h4>
            {% if ratings %}
                <table>
                    {% for rating in ratings %}
                    <tr class="prof-rating-recent">
                        <!-- RATING COMMENT -->
                        <td class="prof-rating-comment">
                            <div>{{ rating.comment }}</div>
                            <div><span class="small-rating">{{ rating.rating }}</span> <span class="date">{{ rating.datetime }}</span></div>
                        </td>
                        <!-- RATING STARS -->
                        <td>
                            <table>
                                <tr><td class="prof-rating-type-small">Communication: </td><td class="small-rating">{{ rating.communication }}</td></tr>
                                <tr><td class="prof-rating-type-small">Knowledge: </td><td class="small-rating">{{ rating.knowledge }}</td></tr>
                                <tr><td class="prof-rating-type-small">Approachability: </td><td class="small-rating">{{ rating.approachability }}</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td class="prof-rating-type-small">Enthusiasm: </td><td class="small-rating">{{ rating.enthusiasm }}</td></tr>
                                <tr><td class="prof-rating-type-small">Clarity: </td><td class="small-rating">{{ rating.clarity }}</td></tr>
                                <tr><td class="prof-rating-type-small">Awesomeness: </td><td class="small-rating">{{ rating.awesomeness }}</td></tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <strong>No ratings currently for professor</strong>
            {% endif %}
        </div>

    {% else %}
        The specified professor {{ professor }} does not exist!
    {% endif %}

{% endblock %}