{% extends 'rate_the_professor/base.html' %}
{% load static %}

{% block body_block %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            {% include "rate_the_professor/top_rating.html" with professors=best_communicators title="Best Communicators"%}
        </div>

        <div class="col-md-4">
            {% include "rate_the_professor/top_rating.html" with professors=easily_approachable title="Easily Approachable"%}
        </div>

        <div class="col-md-4">
            {% include "rate_the_professor/top_rating.html" with professors=wise_owls title="Wise owls"%}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% include "rate_the_professor/top_rating.html" with professors=most_enthusiastic title="Most Enthusiastic"%}
        </div>

        <div class="col-md-4">
           {% include "rate_the_professor/top_rating.html" with professors=best_clarity title="Best Clarity of Expression"%}
        </div>

        <div class="col-md-4">
           {% include "rate_the_professor/top_rating.html" with professors=totally_awesome title="Just Awesome"%}
        </div>
    </div>
</div>
{% endblock %}
