{% extends 'rate_the_professor/base.html' %}
{% load static %}

{% block body_block %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="centered-text">Best Communicators</h3></div>
            <div class="panel-body">
                {% include "rate_the_professor/top_rating.html" with professors=best_communicators%}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="centered-text">Most Approachable</h3></div>
            <div class="panel-body">
                {% include "rate_the_professor/top_rating.html" with professors=easily_approachable%}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="centered-text">Wise Owls</h3></div>
            <div class="panel-body">
                {% include "rate_the_professor/top_rating.html" with professors=wise_owls %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="centered-text">Most Enthusiastic</h3></div>
            <div class="panel-body">
                {% include "rate_the_professor/top_rating.html" with professors=most_enthusiastic%}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="centered-text">Most Clearly Understood</h3></div>
            <div class="panel-body">
                {% include "rate_the_professor/top_rating.html" with professors=best_clarity%}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="centered-text">Just Awesome!</h3></div>
            <div class="panel-body">
                {% include "rate_the_professor/top_rating.html" with professors=totally_awesome%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
