<!-- RATING COMMENT -->
<div class="col-md-6">
    <div>{{ rating.comment }}</div>
    <div class="small-rating" title="{{ rating.rating }} stars">{{ rating.rating }}</div> <div class="date">{{ rating.datetime }}</div>
</div>
<!-- RATING STARS -->
<div class="col-md-3">
    <table>
        <tr><td class="prof-rating-type-small">Communication: </td><td><div class="small-rating" title="{{ rating.communication }} stars">{{ rating.communication }}</div></td></tr>
        <tr><td class="prof-rating-type-small">Knowledge: </td><td><div class="small-rating" title="{{ rating.knowledge }} stars">{{ rating.knowledge }}</div></td></tr>
        <tr><td class="prof-rating-type-small">Approachability: </td><td><div class="small-rating" title="{{ rating.approachability }} stars">{{ rating.approachability }}</div></td></tr>
    </table>
</div>
<div class="col-md-3">
    <table>
        <tr><td class="prof-rating-type-small">Enthusiasm: </td><td><div class="small-rating" title="{{ rating.enthusiasm }} stars">{{ rating.enthusiasm }}</div></td></tr>
        <tr><td class="prof-rating-type-small">Clarity: </td><td><div class="small-rating" title="{{ rating.clarity }} stars">{{ rating.clarity }}</div></td></tr>
        <tr><td class="prof-rating-type-small">Awesomeness: </td><td><div class="small-rating" title="{{ rating.clarity }} stars">{{ rating.awesomeness }}</div></td></tr>
    </table>
 </div>