{% extends 'rate_the_professor/base.html' %}

{% block body_block %}
<div class="row">
    <div class="col-md-10 col-md-offset-1" id="suggest_a_professor">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Suggest a professor to be added</h3></div>
            <div class="panel-body">
                {% if suggested %}
                    <strong>Thank you for your suggestion! Please check on the website later.</strong>
                    <br><a href="/rate_the_professor/">Return to the homepage.</a><br />
                {% else %}
                    <form id="suggestion_form" method="post" action="/rate_the_professor/suggestion/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Display each form. The as_p method wraps each element in a paragraph
                             (<p>) element. This ensures each element appears on a new line,
                             making everything look neater. -->
                        <table class="formtable">
                            {{ suggestion_form }}
                        </table>
                        <br><input class="btn btn-primary" type="submit" name="submit" value="Suggest Professor" />
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}