<h4>{{ title }}</h4>
{% if professors %}
    {% for professor in professors %}
        <div class="row">
            <div class="col-md-6">
                <a href="/rate_the_professor/professor/{{ professor.id }}/">{{ professor.full_name }}</a>
                <br><small>{{ professor.university }}</small>
            </div>
            <div class="col-md-6 big-rating" title="{{ professor.overall_rating }} stars">{{ professor.overall_rating }}</div>
         </div>
    {% endfor %}
    {% else %}
    <strong>There are no professors present.</strong>
{% endif %}