{% extends 'rate_the_professor/base.html' %}
{% load static %}

{% block body_block %}
<div class="row">
    {% if user %}
        <!-- USER DETAILS -->
        <div class="col-md-3 panel panel-default panel-footer">
            <div class="panel-heading"><h3 class = "centered-text">Your Profile</h3></div>

            <div class="panel-body">
                <div class="profpic">
                    {% if user_profile.picture %}
                        <img src="/media/user/{{ user_profile.picture }}">
                    {% else %}
                        <img src="{% static 'img/profpic.png' %}">
                    {% endif %}
                </div>
                <br>
                <div>Username: {{ user.username }}</div>
                <div>University: {{ user_profile.university }}</div>
                <div>Email: {{ user.email }}</div>
            </div>

            <div class="panel-body">
                <form action="/rate_the_professor/suggestion/">
                <button type="submit" class="btn btn-primary" name="suggest a professor" value="Suggest a Profesor">Suggest A Professor</button>
                </form>
            </div>
        </div>

        <!-- USER RECENT RATINGS -->
        <div class="col-md-8 col-md-offset-1 well">
            <h3 class = "centered-text">Your Ratings</h3>
            {% if ratings %}
                {% for rating in ratings %}
                    <hr>
                    <div class="row">
                        <!-- RATING PROFESSOR DETAILS -->
                        <div class="col-md-3">
                            <a href="/rate_the_professor/professor/{{ rating.professor.id }}/">
                                <img class="comment-pic" src="/media/professors/{{ rating.professor.picture }}">
                            </a>
                            <div><strong class="big-text">{{ rating.professor.full_name }}</strong></div>
                            <div>{{ rating.professor.university.uni_name }}</div>
                        </div>

                        <!-- RATING COMMENT -->
                        <div class="col-md-6">
                            <div>{{ rating.comment }}</div>
                            <div class="small-rating">{{ rating.rating }}</div> <div class="date">{{ rating.datetime }}</div>
                        </div>

                        <!-- RATING STARS -->
                        <div class="col-md-3">
                            <table>
                                <tr><td class="prof-rating-type-small">Communication: </td><td><div class="small-rating">{{ rating.communication }}</div></td></tr>
                                <tr><td class="prof-rating-type-small">Knowledge: </td><td><div class="small-rating">{{ rating.knowledge }}</div></td></tr>
                                <tr><td class="prof-rating-type-small">Approachability: </td><td><div class="small-rating">{{ rating.approachability }}</div></td></tr>
                                <tr><td class="prof-rating-type-small">Enthusiasm: </td><td><div class="small-rating">{{ rating.enthusiasm }}</div></td></tr>
                                <tr><td class="prof-rating-type-small">Clarity: </td><td><div class="small-rating">{{ rating.clarity }}</div></td></tr>
                                <tr><td class="prof-rating-type-small">Awesomeness: </td><td><div class="small-rating">{{ rating.awesomeness }}</div></td></tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h4 class = "centered-text text-warning">You haven't left any ratings yet.</h4>
            {% endif %}
        </div>
    {% else %}
        <div class="col-md-12">
            <h2>The specified user {{ user }} does not exist!</h2>
        </div>
    {% endif %}
</div>
{% endblock %}