{% extends 'rate_the_professor/base.html' %}
{% load static %}

{% block body_block %}


<style type="text/css">

 .well-sm {width:70%;
    float:right;}

 .panel-default{float:left;
    size:25%;}




</style>

    <!-- Check for user profile too! -->
    {% if user %}

            <!-- PROFESSOR DETAILS -->
   <div class="panel panel-default">
     <div class="panel-heading"><h3>Your Profile</h3></div>
              <div class="panel-body" >
          <table>
                    <tr><td><div class="profpic">
                <img src="/media/{{ user_profile.picture }}" width="200px">
                   </div></td></tr>
                    <tr><td>Username: {{ user.username }} </td></tr>
                    <tr><td>University: {{ user_profile.university }}</td></tr>
                </table>
       </div>
  </div>



        <!-- RECENT RATINGS -->
   <div class="well well-sm">
            <h4>Ratings</h4>
            {% if ratings %}
                <ul>
                    {% for rating in ratings %}
                    <li>{{ rating.comment }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>You haven't left any ratings yet.</strong>
            {% endif %}
        </div>

    {% else %}
        The specified user {{ user }} does not exist!
    {% endif %}

{% endblock %}